/nbproject/private/
/nbproject/*
/vqmod/logs/*
/vqmod/vqcache/*
/config.local.php
/microservice/cross_script/config.local.php
/admin/config.local.php
/autoparts/config.local.php
/system/logs/error.txt
/system/logs/*
/system/cache/*
.idea/
/.idea
/autoparts/tdmcore/cache/*
/autoparts/tdmcore/logs/search_a/*
/autoparts/tdmcore/logs/search_ab/*
/autoparts/tdmcore/logs/create_brand/*
/autoparts/tdmcore/logs/create_group/*
/autoparts/tdmcore/logs/update_brand/*
/autoparts/tdmcore/logs/insert_sql/*
/autoparts/admin/import/downloads/*
/gearman/log/*
!no_ignore.txt